:root {
  --clr-primary-dark-cyan: hsl(185, 75%, 39%);
  --clr-primary-dark-desaturated-blue: hsl(229, 23%, 23%);
  --clr-primary-grayish-blue: hsl(227, 10%, 46%);
  --clr-neutral-dark-gray: hsl(0, 0%, 59%);
  --ff-primary: "Kumbh Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, div, h1, p {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-primary);
  color: var(--clr-neutral-dark-gray);
  background-color: var(--clr-primary-dark-cyan);
  margin: auto;
  height:100vh;
  width: 100%;
}

h1 {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--clr-primary-dark-desaturated-blue);
}

div.stats > p {
  font-size: 0.75rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-primary-dark-cyan);
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: top -25em left -38em, bottom -25em right -38em;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1em;
  padding: 0;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  min-height: 120px;
  margin: auto;
}

.name {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding:  0px 5px;
}

.city {
  font-size: 1rem;
  font-weight: 400;
}

.age {
  font-size: 1.125rem;
  font-weight: 400;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  border-top: 0.0625em solid var(--clr-neutral-dark-gray);
  padding:  0px 5px;
  gap: 10px;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 10px;
  min-height: 90px;
}

#bg-pattern-card {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  width: 100%;
}

.bg-pattern-card {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  position: relative;
  min-height: 100px;
  margin-bottom: 3em;
}

.card-img {
  border-radius: 50%;
  border: 0.5em solid white;
}

.over-img{
  position: absolute;
  top: 60%;
  left: 33%;
}

.attribution {
  display: none;
}

@media (min-width: 23.4375em) and (orientation: landscape) {
  body{
    margin: auto;
  }
  .container {
    background-position: top -35em left -40em,
      bottom -35em right -40em;
    background-size: 1000px;
    min-height: 450px;
    margin: auto;
  }
}

@media (min-width: 90em) {
  body {
    width: 100%;
    height: 100vh;
  }
  .container {
    height: 100vh;
    background-position: top -42em left -10em, bottom -42em right -15em;
    background-size: 75em;
  }
  .main{
    width: auto;
  }
}
